body{
    background-color: #F2F5EB;
}
#banner-part {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.modal-content{
    border-radius: 16px;
}

#banner-part #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#banner-part .overlay {
    position:absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0px;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(38, 64, 43, 0.80) 0%, rgba(38, 64, 43, 0.49) 23.91%, rgba(38, 64, 43, 0.00) 100%);
}

#banner-part .container{
z-index: 2;
position: absolute;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;

}

.card{
    border: 1px solid #009A6612;
    background: linear-gradient(0deg, rgba(254, 254, 254, 0.45), rgba(254, 254, 254, 0.45)),
linear-gradient(182deg, rgba(4, 114, 77, 0.027) 1.69%, rgba(0, 0, 0, 0) 98.34%);
}

#what-we-do .tab-label{
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#what-we-do .tabs{
    border-radius: 300px;
    width: fit-content;
}

#what-we-do .tabs button.btn{
    position: relative;
    border-radius: 300px;
    color: #f3f3f3;
    font-family:OpenSans-Light; 
    transition: 0.4s;
    z-index: 2;
    border: none;
}

#what-we-do .tabs #button-fill{
    border-radius: 300px;
    position: absolute;
    width: 38%;
    height: 58px;
    z-index: 1;
    background-color: var(--light);
    transition: 0.4s;
    left: 3%;
}

#what-we-do .tabs #button-fill.tab-btn-1{
    width: 38%;
    left: 3%;
}

#what-we-do .tabs #button-fill.tab-btn-2{
    width: 30%;
    left: 38%;
}

#what-we-do .tabs #button-fill.tab-btn-3{
    width: 32%;
    left: 65%;
}



#what-we-do .tabs button.btn.active{
    color: var(--primary);
    background-color: transparent;
    font-family: OpenSans-Regular;
    transition: 0.4s;
    z-index: 2;
}

#tab-content .image-content{
    border-radius: 8px;
}

#tab-content ul {
    list-style: none;
}

/* #tab-content ul li:before{
    content: "\F2EF"; 
    font-family: bootstrap-icons;
    display: inline-block;
    font-size: 0.8rem;
    color: var(--secondary);
    margin-right: 5px;
} */

#tab-content ul li:before{
    content: ""; 
    width: 18px;
    height: 18px;
    background-image: url('../images/icon.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 2px;
    margin-left: -26px;
}

#tab-content .tab-info{
    display: none;
    transition: 0.5s;
}

#tab-content .tab-info.active{
    display:block;
    transition: 0.5s;
}

#tab-content .tab-info .image-content .project-development{
    min-height: 388px;
    width: 100%;
    background-image: url('../images/project-dev-1.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    animation: change 6s infinite ease-in-out;
    border-radius: 8px;
}

#tab-content  .image-content .clean-cooking-image{
    min-height: 388px;
    width: 100%;
    background-image: url('../images/project-dev-1.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    animation: change 6s infinite ease-in-out;
    border-radius: 8px;
}

#tab-content .tab-info .image-content .technology{
    min-height: 388px;
    width: 100%;
    background-image: url('../images/technology-1.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    animation: technology 6s infinite ease-in-out;
    border-radius: 8px;
}

#tab-content .tab-info .image-content .impact-creation{
    min-height: 388px;
    width: 100%;
    background-image: url('../images/impact-creation-1.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    animation: impactcreation 6s infinite ease-in-out;
    border-radius: 8px;
}

#tab-content p ,#tab-content li{
    line-height: 1.6em;
    letter-spacing: 1px;
}



#sectors .image-part-left .content{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 600px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    border-radius: 24px;
    transition: 0.3s;
}

#sectors .image-part-left .content:hover{
    background-size: 110% 110%;
    transition: 0.3s;
}

#sectors .image-part-left .overlay-content{
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    transition: .5s ease;
    border-radius: 0 0 24px 24px;
}

#sectors .image-part-right .content{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 292px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    border-radius: 24px;
    transition: 0.3s;
}

#sectors .image-part-right .content:hover{
    background-size: 110% 110%;
    transition: 0.3s;
}

#sectors .image-part-right .overlay-content{
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    transition: .5s ease;
    border-radius: 0 0 24px 24px;
}



/* ============ ANIMATIONS ============== */
@keyframes change{
    0%{
        background-image: url('../images/project-dev-1.png');
    }
    50%{
        background-image: url('../images/project-dev-2.png');
    }

    100%{
        background-image: url('../images/project-dev-3.png');
    }
}

@keyframes technology{
    0%{
        background-image: url('../images/technology-1.png');
    }
    50%{
        background-image: url('../images/technology-2.png');
    }

    100%{
        background-image: url('../images/technology-3.png');
    }
}

@keyframes impactcreation{
    0%{
        background-image: url('../images/impact-creation-1.png');
    }
    50%{
        background-image: url('../images/impact-creation-2.png');
    }

    100%{
        background-image: url('../images/impact-creation-3.png');
    }
}

/* =========== RESPONSIVE ============ */
@media screen and (max-width: 768px) {

#banner-part {
    max-height: calc(100vh - 100px) !important;
}

#banner-part #myVideo {
    bottom: 100px;
    min-width: 100%;
    max-height: calc(100vh - 100px) !important;
}

#about-sub-section .card{
    padding: 1.3rem  2rem!important;
}

#about-sub-section-1 .col-lg-7{
    margin-top: 3rem !important;
}

#about-sub-section-1 .card{
    padding: 1.3rem  2rem!important;
}


#what-we-do .tabs #button-fill{
    display: none;
}

#what-we-do .tabs button.btn.active{
    color: var(--primary);
    background-color: #fff;
    font-family: OpenSans-Regular;
    transition: 0.4s;
    z-index: 2;
}

#tab-content .tab-info .image-content .impact-creation , #tab-content .tab-info .image-content  .technology, #tab-content .tab-info .image-content .project-development {
    min-height: 230px !important;
}



}

@media screen and ((min-width: 991px) and (max-width: 1199px)) {
    #what-we-do .tabs #button-fill.tab-btn-1{
        width: 34%;
        left: 8%;
    }
    
    #what-we-do .tabs #button-fill.tab-btn-2{
        width: 24%;
        left: 41%;
    }
    
    #what-we-do .tabs #button-fill.tab-btn-3{
        width: 28%;
        left: 64%;
    }

}

@media screen and (min-width: 1399px) {
    #what-we-do .tabs #button-fill.tab-btn-1{
        width: 35%;
        left: 9%;
    }
    
    #what-we-do .tabs #button-fill.tab-btn-2{
        width: 24%;
        left: 41%;
    }
    
    #what-we-do .tabs #button-fill.tab-btn-3{
        width: 30%;
        left: 61%;
    }

}

@media screen and (max-width: 990px) {
    #what-we-do .tabs #button-fill.tab-btn-1{
        width: 31%;
        left: 13%;
    }
    
    #what-we-do .tabs #button-fill.tab-btn-2{
        width: 23%;
        left: 41%;
    }
    
    #what-we-do .tabs #button-fill.tab-btn-3{
        width: 26%;
        left: 61%;
    }

}