@import "./fonts.css";

:root{
    --primary:#26402B;
    --secondary:#FFA412;
    --black:#252525;
    --light:#fff;
    --light-green:#F2F5EB;
    --dark:#151411;
    --green:#04724D;
}

*{
    font-family:OpenSans-Light; 
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 900;
}

a{
    text-decoration: none;
}




/* ======= UTILITY CLASSES ======== */
.nf-300{
    font-family: NotoSans-Thin;
}

.nf-400{
    font-family: NotoSans-Light;
}

.nf-600{
    font-family: NotoSans-Regular;
}

.nf-700{
    font-family: NotoSans-SemiBold;
}

.nf-800{
    font-family: NotoSans-Bold;
}


.of-400{
    font-family:OpenSans-Light; 
}

.of-500{
    font-family: OpenSans-Medium; 
}

.of-600{
    font-family: OpenSans-Regular; 
}

.of-700{
    font-family:OpenSans-SemiBold; 
}

.of-800{
    font-family: OpenSans-Bold;
}


/* ========= BUTTON =========== */
.get-started{
    min-width: 140px !important;
    font-size: 1rem !important;
}
.b-primary{
    width: fit-content !important;
    background-color: var(--secondary);
    padding: 1.5% 5%;
    font-size: 1rem;
    color: var(--light);
    border: none;
    transition: 0.4s;
    z-index: 4;
    overflow: hidden;

    height: 54px;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 1px #F59A09, 0px 2px 2px -1px rgba(251, 227, 189, 0.35) inset, 0px -2px 2px 0px rgba(233, 217, 193, 0.26) inset, 0px 4px 8px 0px rgba(130, 103, 59, 0.28);
}

.b-primary:hover{
    background-color: var(--secondary);
    transition: 0.3s;
    color: var(--light);
    transition: display 3s;
}

.b-primary:active{
    background-color: var(--secondary) !important;
    transition: 0.3s;
    color: var(--light) !important;
}

.b-primary span::after{
    position: relative;
    content: "\F285";
    font-family: bootstrap-icons;
    font-size: 1rem;
    top: 3px;
    color: var(--light);
    left: 80px;
    transition: 0.8s;
    display: inline-block;
    width: 0;
    
}

.b-primary:hover span::after{
    transition: display 3s;
    left: 8px;
    transition: 0.8s;
    width: 10px;
}




/* =========== FONT SIZE =========== */
.f-1{
    font-size: 3.5rem;
}

.f-2{
    font-size: 3rem;
}

.f-3{
    font-size: 2.5rem;
}

.f-4{
    font-size: 2rem;
}

.f-5{
    font-size: 1.5rem;
}

.f-6{
    font-size: 1rem;
}

.f-6-5{
    font-size: 0.9rem;
}

.f-7{
    font-size: 0.8rem;
}


/* =========== TEXT COLOR ============= */
.t-light{
    color: var(--light);
}

.t-primary{
    color:var(--primary)
}
.t-secondary{
    color: var(--secondary);
}

.t-dark{
    color: var(--dark);
}
.t-green{
    color: var(--green)
}

/* =========== LIST ========== */
.list-none{
    list-style: none;
}

/* =============== CARD ================ */
.card{
    box-shadow: 0px 12px 17px 10px #A2A2A20A;
    border:none;

}


/* =========== BG COLOR ========= */
.bg-primary{
    background-color: #26402B !important;
}
.bg-success{
    background-color: #2d9a47;
}

.bg-orange{
    background-color: #ef412a;
}

.bg-yellow{
    background-color: var(--secondary);
}

.bg-green{
    background-color: #3f7e44;
}

.bg-dyellow{
    background-color: #dda83a;
}

.bg-dred{
    background-color: #e5243b;
}

.bg-cyan{
    background-color: #26bde2;
}

.bg-brawn{
    background-color: #962e47;
}

.bg-lgreen{
    background-color: var(--light-green);
}

/* =========== BORDER ========== */
.border-none{
    border: none;
}


.sub-title{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--secondary);
    font-family: OpenSans-Medium; 
}



/* ============== NAVBAR =============== */
 header nav.bg-white{
    background-color: #fff !important;
    /* border-bottom: 1px solid rgb(243, 243, 247); */
}

 header nav.bg-none{
    background-color: transparent;
    /* border-bottom: 1px solid rgb(243, 243, 247); */
}


 header nav .navbar-brand img{
    width:140px !important;
    height:22px !important;
    max-width: 150px !important;
}

.fixed-header header nav.bg-white{
    background-color: #fff !important;
    /* border-bottom: 1px solid rgb(243, 243, 247); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

 header nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: 0.4s;
}

.fixed-header header nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: 0.4s;
}

.fixed-header header nav{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}


 header nav .menu-items ul.navbar-nav li.nav-item{
    font-weight: 600;
    transition: 0.1s;
}


 header nav .menu-items ul.navbar-nav li.nav-item{
    color:var(--black);
}
 header nav .menu-items ul.navbar-nav li.nav-item.active a{
    border-bottom: 2px solid var(--secondary);
    font-family: OpenSans-Bold; 
}

 header nav .menu-items ul.navbar-nav li.nav-item:hover a{
    border-bottom: 2px solid var(--secondary);
    /* font-family: OpenSans-Bold; */
    transition: 0.3s ease-in-out;
}


 header nav .menu-items ul.navbar-nav li.nav-item a{
    font-size: calc(0.8rem + 0.1vw);
    font-weight: 700;
    transition: 0.1s;
    text-transform: capitalize;
    color: var(--light);
    font-family:OpenSans-SemiBold; 
}

.fixed-header  header nav .menu-items ul.navbar-nav li.nav-item a{
    color: var(--primary);
}

.fixed-header  header nav .menu-bar .get-started{
    color: var(--light);
    background-color:var(--secondary) !important;
}
 header nav .menu-items.mobile ul.navbar-nav li.nav-item a{
    font-size: calc(0.8rem + 0.25vw);
    font-weight: 700;
    color: var(--light) !important;
    transition: 0.1s;
    text-transform: capitalize;
    border: none;
}

 header nav .menu-items.mobile ul.navbar-nav li.nav-item.active a{
    color: var(--secondary) !important;
}

 header nav .menu-items ul.navbar-nav li.nav-item:hover{
    color: var(--primary);
    transition: 0.1s;
}



/* ============== Mobile Navmenu =========== */

 header nav .menu-items.mobile{
    position: fixed;
    left: -100%;
    top: 90px;
    width: 100%;
    z-index: 9;
    height: 100%;
    background-color: var(--primary);
    transition: 0.4s;
    overflow: scroll;
}

 header nav .menu-items.mobile.active{
    left: 0;
    transition: 0.4s;
}
 header nav .menu-items.mobile ul{
    padding: 10px;
}

 header nav .menu-items.mobile li.nav-item{
    padding: 25px 0 !important;
}

 header nav .menu-items.mobile li.nav-item.active{
    color: var(--primary);
    border-radius: 8px;
}

 header nav .menu-items.mobile li.nav-item a{
    padding-left: 20px;
    font-size: calc(0.8rem + 1.5vw) !important;
    font-weight: 600 !important;
    color: var(--black) ;
    transition: 0.1s;
    text-transform: capitalize;
}
 header nav .menu-items.mobile li.nav-item.active a{
    color: #fff;
}

 header nav .menu-bar button{
    color: var(--primary);
    font-size: 1.5rem;
    height: 51px;
    min-width: 165px !important;
    padding: 16px 32px;
    border-radius: 7px;
    background: #F2F5EB;
    box-shadow: 0px 0px 0px 1px #E8F1D3, 0px 2px 2px -1px rgba(223, 235, 196, 0.35) inset, 0px -2px 2px 0px rgba(183, 193, 160, 0.26) inset, 0px 4px 8px 0px rgba(137, 160, 83, 0.28);
}
 header nav .menu-bar button:hover{
    color: var(--primary);
    font-size: 1.5rem;
}

 header nav .menu-bar button.toggle-btn{
    display: none;
}
 header nav .menu-bar button.toggle-btn.active{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    font-size: 3rem;
    color: var(--light);
    background-color: var(--primary);
    width: 60px;
    height: 60px;
}

/* ============ Reveal ========= */
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/* ============ Projects  ========= */
#projects .card {
    background-color: #fff;
}

#projects .card .card-header{
    border: none;
    background: none;
}

#projects .card .card-header .image-content{
   overflow: hidden;
   border-radius: 8px;
}

#projects .card .card-header img{
   border-radius: 8px;
   transition: all 0.3s ease-in-out;
}

#projects .card:hover .card-header img{
   transform: scale(1.1);
}

#projects .card .card-footer{
    background: none;
}

#projects .card .card-footer .icon-btn .ic-btn{
   width: 33px;
   height: 33px;
   border-radius: 5px;
   cursor: pointer;
}

#projects .card .card-footer .icon-btn .ic-btn .content small{
   font-size: 3px;
   color: #fff;
   text-transform: uppercase;
}

#projects .card .card-footer .icon-btn .ic-btn .content small.counter{
   font-size: 0.4rem;
}

#projects .card .card-footer .icon-btn .ic-btn .icon{
   font-size: 0.6rem;
   color: #fff;
}

#projects .card:hover .card-footer .read-more a{
   color: var(--secondary);
}

/* ====== Owl Carousel ===== */

.owl-carousel .owl-nav.disabled {
    display: block !important;
    }
    
    .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 45%;
    left: -20px;
    width: 30px;
    height: 30px;
    background-color: var(--secondary);
    color: #fff;
    font-size: 1.8rem;
    border-radius: 50px;
    }
    
    .owl-carousel .owl-nav button.owl-prev span{
        position: relative;
        top: -8px;
        right: 1px;
    }
    
    .owl-carousel .owl-nav button.owl-prev:hover{
        background-color: var(--secondary);
    }
    
    .owl-carousel .owl-nav button.owl-next{
        position: absolute;
        top: 45%;
        right: -20px;
        width: 30px;
        height: 30px;
        background-color: var(--secondary);
        color: #fff;
        font-size: 1.8rem;
        border-radius: 50px;
    }
    
    .owl-carousel .owl-nav button.owl-next:hover{
        background-color: var(--secondary);
    }
    
    .owl-carousel .owl-nav button.owl-next span{
        position: relative;
        top: -8px;
        right: -1px;
    }
    


/* ========= FOOTER ======== */
.footer .container.footer-info{
    border-bottom:1px solid #f3f3f3 ;
    border-top:1px solid #f3f3f3 ;
}

.footer .container.footer-info .footer-content .brand-logo {
    position: relative;
    top: -20px;
    left: -20px;
}

.footer .container.footer-info .footer-content .brand-logo .brand{
    background-color: var(--primary);
    padding: 3%;
}

.footer .container.footer-info .footer-content .brand-logo .brand-content{
    padding: 0 3%;
}

.footer .container.footer-info .footer-content .brand-logo img{
    max-width: 300px;
    max-height: 30px;
}

/* loader */
button[type=submit]{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#alert-message.success{
    font-size: 0.8rem;
    color: var(--primary);
}

#alert-message.danger{
    font-size: 0.8rem;
    color: #f00;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 100px;
    border-top: 4px solid #FFA412;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/* =========== RESPONSIVE ============ */
@media screen and (max-width: 768px) {

    .f-1{
        font-size: 2.5rem;
    }

    .f-2{
        font-size: 2rem;
    }

    .f-3{
        font-size: 1.8rem;
    }

    .f-4{
        font-size: 1.5rem;
    }

    #what-we-do .tabs {
        padding: 10px 0px !important;
        border-radius: 5px !important;
    }

    #sectors .image-part-left .content{
        min-height: 292px !important;
        margin-bottom: 15px;
    }

    .footer .container.footer-info {
        border-top: 0px solid #f3f3f3;
    }

    .footer .container.footer-info .footer-content .brand-logo{
        position: relative;
        top: 0px;
        left: 0px;
    }

    .image-content{
        order: 2;
    }

}




