body{
    background: #F2F5EB;
}

body .container{
    max-width: 1100px !important;
}

body #header-section .container{
    max-width: 1140px;
}

#projects .card .card-body{
    min-height: 240px;
}

.sub-heading{
    font-family:OpenSans-SemiBold; 
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 1rem;
}

/* ======== Navbar ======= */
header nav .menu-items ul.navbar-nav li.nav-item a {
    color: var(--primary);
}

header nav .menu-bar .get-started {
    color: var(--light);
    background-color: var(--secondary) !important;
}

/* ========= Top card Banner ======== */
#top-card-banner .card{
    border: none;
    border-radius: 12px !important; 
    overflow: hidden;
}

#top-card-banner .card .card-header,#top-card-banner .card .card-footer{
    border: none;
    background: none;
}

#top-card-banner .card .card-header .image-content img{
    max-height: 450px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#top-card-banner .card .card-footer .sdgs img{
    max-height: 40px;
    width: 40px;
    border-radius: 4px;
}


/* ======  Community-Led ======= */
#community-led .card {
    border: 1px solid #009A6612;
    background: linear-gradient(0deg, rgba(254, 254, 254, 0.45), rgba(254, 254, 254, 0.45)), linear-gradient(182deg, rgba(4, 114, 77, 0.027) 1.69%, rgba(0, 0, 0, 0) 98.34%);
}

#community-led .card ul {
    list-style: none;
}
#community-led .card ul li:before{
    content: ""; 
    width: 18px;
    height: 18px;
    background-image: url('../images/icon.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 2px;
    margin-left: -26px;
}


/* ============ Natural land ========= */
#natural-land .card{
    border: 1px solid #009A6612;
    background: linear-gradient(0deg, rgba(254, 254, 254, 0.45), rgba(254, 254, 254, 0.45)), linear-gradient(182deg, rgba(4, 114, 77, 0.027) 1.69%, rgba(0, 0, 0, 0) 98.34%);
}

#natural-land .card .upper-text .land-icon{
    border-radius: 1px;
    background: #DEBA87;
    width: 22px;
    height: 9px;
}

#natural-land .card.middle-ridge .upper-text .land-icon{
    background: #BC9052;
}

#natural-land .card.middle-ridge .upper-text .land-icon{
    background: #BC9052;
}

#natural-land .card.lower-ridge .upper-text .land-icon{
    background: #815F2E;
}

#natural-land .card .lower-text .tree-icon img{
    width: 45px;
    height: 45px;
}

/* ===== Natural Bio ===== */

#natural-bio  .image-content .natural-bio-image{
    min-height: 350px;
    width: 100%;
    background-image: url('../images/natural-bio-img-1.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    animation: change 6s infinite ease-in-out;
    border-radius: 24px;
}


/* ========== Benefits ======== */
#benefits .card{
    border: 1px solid #009A6612;
    background: linear-gradient(0deg, rgba(254, 254, 254, 0.45), rgba(254, 254, 254, 0.45)), linear-gradient(182deg, rgba(4, 114, 77, 0.027) 1.69%, rgba(0, 0, 0, 0) 98.34%);
    max-width: 100%;
}
#benefits .card .image-content .content h4{
    margin-bottom: 0;
}

#benefits .card .image-content img{
    height: 50px;
    width: 50px;
}







/* ============ ANIMATIONS ============== */
@keyframes change{
    0%{
        background-image: url('../images/natural-bio-img-1.png');
    }
    100%{
        background-image: url('../images/natural-bio-img-2.png');
    }

}
